body {
  font-family: Gloria Hallelujah;
  font-size: 18px;
  background-color: #5fa8d3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../src/components/assets/images/pineapples-background.png');
  background-color: #5fa8d3;
  color: white;
  padding: 10px 20px;
}

.navbar h1 {
  margin: 0;
  font-size: 50px;
  color: #1b4965;
}

.nav.nav-tabs {
  margin: 0;
  /* Remove margin to prevent spacing */
  padding: 0;
  /* Remove padding to prevent spacing */
}

.nav {
  justify-content: flex-end;
}

.nav-item a {
  color: #1b4965;
}

.about-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  width: 100%;
}

.myImage {
  width: 30%;
  /* max-width: 100%; */
  height: auto;
  margin: 0 auto;
}

.projects-container,
.applications-container {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  flex: 0 0 300px;
  margin: 10px;
  width: 30%
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.footer {
  background-color: #003459;
  color: white;
  padding: 20px;
  text-align: center;
}

.icon-links a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

.icon-links a:hover {
  color: lightgray;
}

/* Media query for small screens */
@media screen and (max-width: 480px) {
  .navbar {
    justify-content: center; /* Center navigation items */
    padding: 5px; /* Reduce padding */
  }

  .navbar h1 {
    font-size: 24px; /* Smaller font size */
  }

  .about-container {
    flex-direction: column; /* Stack elements vertically */
    padding: 10px; /* Reduce padding */
  }

  .myImage {
    max-width: 80%; /* Adjust width for smaller screens */
  }

  .projects-container, .applications-container {
    flex-direction: column; /* Stack cards vertically */
  }

  .card {
    width: 100%; /* Cards take full width */
    margin: 10px 0; /* Add some spacing between cards */
  }

}